<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="../static/scorpio-car-png.png">prnka&nbsp;cars</div>
		<nav>  
			<ul>
				<li><a href="{{url_for('index')}}">Home</a>
				<li><a href="{{url_for('showroom')}}">showroom</a>
				<li><a href="{{url_for('buy')}}">buy</a>
				<li><a href="{{url_for('sell')}}">sell</a>
			</ul>
		</nav>
	</header>
	<section>
		<strong>you can sell or buy cars here</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2showroom</h2>
				<p>we have showrooms in many cities like pune gwalior mumbai jhansi chennai </p>
			</article>
			<article>
				<h2>sell</h2>
				<p>welcome to the prnka cars here you can sell your cars in good prices as you want to sell or buy </p>
			</article>
			<article>
				<h2>contact</h2>
				<p>contact us:<br>7748064478</p>
			</article>
			<article>
				<h2>Email:</h2>
				<p>prnka2001@gmail.com</p>
			</article>
		</main>
		<aside>
		    <img src="../static/R.png" alt="scarpio" width="400" height = "500">
			<div>Sidebar 2</div>
			<div>Sidebar 3</div>
		</aside>
	</section>
	<footer>
	</footer>


</body>

</html>